/******* start of ui.main.css ********/

body {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	margin: 0;
	overflow: hidden;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
}

button {
	position: relative;
}

textarea {
	tab-size: 4;
	white-space: pre;
	word-wrap: normal;
}

	textarea.success {
		border-color: #8b8 !important;
	}

	textarea.fail {
		border-color: #f00 !important;
		background-color: rgba(255,0,0,0.05);
	}

textarea, input { outline: none; } /* osx */

.Panel {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

	/* No support for these yet */
	-o-user-select: none;
	user-select: none;
}

/* CodeMirror */

.CodeMirror {
	position: absolute !important;
	top: 37px;
	width: 100% !important;
	height: calc(100% - 37px) !important;
}

	.CodeMirror .errorLine {
		background: rgba(255,0,0,0.25);
	}

	.CodeMirror .esprima-error {
		color: #f00;
		text-align: right;
		padding: 0 20px;
	}

#info {
	text-shadow: 1px 1px 2px rgba(0,0,0,0.25);
	pointer-events: none;
}

/* scene graph */

#scenegraph {
	/* max-height: set dynamically in jamieGUI.js */
	overflow: auto;

	/* below: for scrollbar */
	-ms-overflow-style: none; /* IE 10+ */
	scrollbar-width: none; /* Firefox */
}
#scenegraph::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}

/* tree */

#tree .type {
	position: relative;
	padding: 0 2px;
	color: #ddd;
}

#tree .type:after {
	content: '■';
}

#tree .ArrayCamera			{ color: #B18F6A; }
#tree .Camera				{ color: #B18F6A; }
#tree .CubeCamera			{ color: #B18F6A; }
#tree .OrthographicCamera	{ color: #B18F6A; }
#tree .PerspectiveCamera	{ color: #B18F6A; }
#tree .StereoCamera			{ color: #B18F6A; }

#tree .Scene				{ color: #98DDDE; }
#tree .Object3D				{ color: #B4B7BA; }
#tree .Group				{ color: #F7786B; }
#tree .Bone					{ color: #898E8C; }

#tree .Mesh					{ color: #D69C2F; }
#tree .SkinnedMesh			{ color: #EDCDC2; }

#tree .Line					{ color: #92B558; }
#tree .LineLoop				{ color: #92B558; }
#tree .LineSegments			{ color: #92B558; }

#tree .Points				{ color: #DC4C46; }

#tree .AmbientLight			{ color: #F0EDE5; }
#tree .PointLight			{ color: #F0EDE5; }
#tree .SpotLight			{ color: #F0EDE5; }
#tree .DirectionalLight		{ color: #F0EDE5; }
#tree .HemisphereLight		{ color: #F0EDE5; }

#tree .BufferGeometry		{ color: #4488ff; }
#tree .DirectGeometry		{ color: #4488ff; }
#tree .Geometry				{ color: #4488ff; }
#tree .InstancedBufferGeometry	{ color: #4488ff; }

#tree .BoxBufferGeometry		{ color: #4488ff; }
#tree .BoxGeometry				{ color: #4488ff; }
#tree .CircleBufferGeometry		{ color: #4488ff; }
#tree .CircleGeometry			{ color: #4488ff; }
#tree .ConeBufferGeometry		{ color: #4488ff; }
#tree .ConeGeometry				{ color: #4488ff; }
#tree .CylinderBufferGeometry	{ color: #4488ff; }
#tree .CylinderGeometry			{ color: #4488ff; }
#tree .DodecahedronBufferGeometry{ color: #4488ff; }
#tree .DodecahedronGeometry		{ color: #4488ff; }
#tree .EdgesGeometry			{ color: #4488ff; }
#tree .ExtrudeBufferGeometry	{ color: #4488ff; }
#tree .ExtrudeGeometry			{ color: #4488ff; }
#tree .IcosahedronBufferGeometry{ color: #4488ff; }
#tree .IcosahedronGeometry		{ color: #4488ff; }
#tree .LatheBufferGeometry		{ color: #4488ff; }
#tree .LatheGeometry			{ color: #4488ff; }
#tree .OctahedronBufferGeometry	{ color: #4488ff; }
#tree .OctahedronGeometry		{ color: #4488ff; }
#tree .ParametricBufferGeometry	{ color: #4488ff; }
#tree .ParametricGeometry		{ color: #4488ff; }
#tree .PlaneBufferGeometry		{ color: #4488ff; }
#tree .PlaneGeometry			{ color: #4488ff; }
#tree .PolyhedronBufferGeometry	{ color: #4488ff; }
#tree .PolyhedronGeometry		{ color: #4488ff; }
#tree .RingBufferGeometry		{ color: #4488ff; }
#tree .RingGeometry				{ color: #4488ff; }
#tree .ShapeBufferGeometry		{ color: #4488ff; }
#tree .ShapeGeometry			{ color: #4488ff; }
#tree .SphereBufferGeometry		{ color: #4488ff; }
#tree .SphereGeometry			{ color: #4488ff; }
#tree .TetrahedronBufferGeometry{ color: #4488ff; }
#tree .TetrahedronGeometry		{ color: #4488ff; }
#tree .TextBufferGeometry		{ color: #4488ff; }
#tree .TextGeometry				{ color: #4488ff; }
#tree .TorusBufferGeometry		{ color: #4488ff; }
#tree .TorusGeometry			{ color: #4488ff; }
#tree .TorusKnotBufferGeometry	{ color: #4488ff; }
#tree .TorusKnotGeometry		{ color: #4488ff; }
#tree .TubeBufferGeometry		{ color: #4488ff; }
#tree .TubeGeometry				{ color: #4488ff; }
#tree .WireframeGeometry		{ color: #4488ff; }

#tree .LineBasicMaterial	{ color: #44aa44; }
#tree .LineDashedMaterial	{ color: #44aa44; }
#tree .Material				{ color: #44aa44; }
#tree .MeshBasicMaterial	{ color: #44aa44; }
#tree .MeshDepthMaterial	{ color: #44aa44; }
#tree .MeshDistanceMaterial	{ color: #44aa44; }
#tree .MeshLambertMaterial	{ color: #44aa44; }
#tree .MeshMatcapMaterial	{ color: #44aa44; }
#tree .MeshNormalMaterial	{ color: #44aa44; }
#tree .MeshPhongMaterial	{ color: #44aa44; }
#tree .MeshPhysicalMaterial	{ color: #44aa44; }
#tree .MeshStandardMaterial	{ color: #44aa44; }
#tree .MeshToonMaterial		{ color: #44aa44; }
#tree .PointsMaterial		{ color: #44aa44; }
#tree .RawShaderMaterial	{ color: #44aa44; }
#tree .ShaderMaterial		{ color: #44aa44; }
#tree .ShadowMaterial		{ color: #44aa44; }
#tree .SpriteMaterial		{ color: #44aa44; }

.Tree {
	border: 1px solid transparent;
}

	.Tree .drag {
		/* border: 1px dashed #999; */
		border: 1px dashed green;
	}

	.Tree .dragTop {
		/* border-top: 1px dashed #999; */
		border-top: 1px dashed red;
	}

	.Tree .dragBottom {
		/* border-bottom: 1px dashed #999; */
		border-bottom: 1px dashed blue;
	}

ul, #treeUL {
	list-style-type: none;
}

#treeUL {
	margin: 0;
	padding: 0;
}

p.Tree, ul.Tree, ul.Tree ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

p.Tree {
	color: #fff;
	text-shadow: 1px 1px 2px #111;
}

.Tree:focus {
	outline: none;
}

ul.Tree {
	color: #fff;
	text-shadow: 1px 1px 2px #111;
}

	ul.Tree ul {
		margin-left: 1.0em;
		color: inherit;
	}

	ul.Tree li {
		margin-left: 0.35em;
		border-left: thin solid #888;
		color: inherit;
	}

		ul.Tree li:last-child {
			border-left: none;
		}

		ul.Tree li:before {
			width: 0.9em;
			height: 0.6em;
			margin-right: 0.1em;
			vertical-align: top;
			border-bottom: thin solid #888;
			content: "";
			display: inline-block;
		}

		ul.Tree li:last-child:before {
			border-left: thin solid #888;
		}

.box {
	cursor: pointer;
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none;
}

	.box::before {
		content: "\2610";
		color: #888;
		display: inline-block;
		margin-right: 6px;
		text-shadow: none;
	}

	.check-box::before {
		content: "\2611"; 
		color: dodgerblue;
		text-shadow: none;
	}

.nested {
	display: none;
}

.active {
	display: block;
}

.translucent {
	opacity: 0.5;
}

li.selected {
	color: #9B2335 !important;
	text-shadow: none;
	font-weight: bold;
}

/* create 'three' equal columns that floats next to each other */

.Column {
	float: left;
	width: 33.33%;
	padding: 6px 0;
}
  
/* clear floats after the columns */

.Row:after {
	content: "";
	display: table;
	clear: both;
}

/* for Shortcuts & About */

.Modal {
	position: fixed;
	z-index: 1;
	padding-top: 32px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
	.Modal * {
		vertical-align: middle;
	}

	.Modal .content {
		position: relative;
		background-color: rgba(0,0,0,0.4);
		color: white;
		text-shadow: 1px 1px 2px #111;
		margin: auto;
		padding: 0;
		border: 1px solid #888;
		width: 60%;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		-webkit-animation-name: animatetop;
		-webkit-animation-duration: 0.4s;
		animation-name: animatetop;
		animation-duration: 0.4s
	}

	/* help animation */
	@-webkit-keyframes animatetop {
		from { top:-300px; opacity:0 }
		to { top:0; opacity:1 }
	}

	@keyframes animatetop {
		from { top:-300px; opacity:0 }
		to { top:0; opacity:1 }
	}

	.Modal .header {
		padding: 8px 16px;
		background-color: #5cb85c;
	}

		.Modal .close .icon {
			float: right;
			font-weight: bold;
			padding: 2px 0 0 0;
		}

		.Modal .close:hover .icon,
		.Modal .close:focus .icon {
			color: #000;
			cursor: pointer;
		}

	.Modal .body {
		padding: 8px 16px;
	}

	.Modal .footer {
		padding: 8px 16px;
		background-color: #5cb85c;
	}

/* tooltip */

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
}

/* tooltip box */

[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 12px;
	min-width: 20px;
	text-align: center;
    border-radius: 4px;
}
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* tooltip arrow */

[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}

/* tooltip hovering */

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

/******* end of ui.main.css ********/

button {
	color: #555;
	background-color: #ddd;
	border: 0px;
	padding: 5px 8px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	button:hover {
		background-color: #fff;
	}

	button.selected {
		background-color: #fff;
	}

input, textarea {
	border: 1px solid transparent;
	color: #444;
}

input.Number {
	color: #08f!important;
	font-size: 12px;
	border: 0px;
	padding: 2px;
	cursor: col-resize;
}

select {
	color: #111;
	background-color: #ddd;
	border: 0px;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}

	select:hover {
		background-color: #fff;
	}

/* UI */

/* #viewport {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 0;
}

	#viewport #info {
		text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
		pointer-events: none;
	}

#script {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 0;
	opacity: 0.9;
}

#player {
	position: absolute;
	top: 32px;
	left: 0;
	right: 300px;
	bottom: 0;
} */

#contextmenu {
	position: absolute;
	height: 32px;
	background-color: #eee;
	border-radius: 6px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	padding: 0;
	margin: 0;
}

	#contextmenu .menu {
		float: left;
		cursor: pointer;
	}

	#contextmenu .menu.right {
		float: right;
		cursor: auto;
		padding-right: 0;
		text-align: right;
	}

		#contextmenu .menu .title {
			display: inline-block;
			color: #111;
			text-transform: uppercase;
			text-shadow: 0px 0px 0.5px #111;
			margin: 0;
			padding: 8px;
			line-height: 16px;
		}

		#contextmenu .menu .options {
			position: fixed;
			padding: 2px 0;
			border-radius: 6px;
			width: 160px;
			max-height: 50%;
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
			text-shadow: 0px 0px 0.5px #111;
			background-color: rgba(238, 238, 238, 0.5);
			overflow: auto;
		}

		#contextmenu .menu:hover .options {
			display: block;
		}

			#contextmenu .menu .options hr {
				border-color: #ddd;
			}

			#contextmenu .menu .options .option .icon {
				color: lightblue;
				text-shadow: 2px 2px 4px #000000;
				padding-right: 10px;
			}

			#contextmenu .menu .options .option {
				color: #111;
				background-color: transparent;
				padding: 5px 10px;
				margin: 0 !important;
			}

				#contextmenu .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#contextmenu .menu .options .option:active {
					color: #fff;
					background-color: #08f;
				}

		#contextmenu .menu .options .inactive {
			color: #bbb;
			background-color: transparent;
			padding: 5px 10px;
			margin: 0 !important;
		}

#menubar {
	position: absolute;
	height: 32px;
	background-color: #eee;
	border-radius: 6px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
	padding: 0;
	margin: 0;
	right: 0;
	top: 0;
}

	#menubar .menu {
		float: left;
		cursor: pointer;
	}

	#menubar .menu.right {
		float: right;
		cursor: auto;
		padding-right: 0;
		text-align: right;
	}

		#menubar .menu .title {
			display: inline-block;
			color: #111;
			text-transform: uppercase;
			text-shadow: 0px 0px 0.5px #111;
			margin: 0;
			padding: 8px;
			line-height: 16px;
		}

		#menubar .menu .options {
			position: fixed;
			display: none;
			padding: 2px 0;
			border-radius: 6px;
			width: 160px;
			max-height: calc(100% - 80px);
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
			text-shadow: 0px 0px 0.5px #111;
			background-color: rgba(238, 238, 238, 0.5);
			overflow: auto;
		}

		#menubar .menu:hover .options {
			display: block;
		}

			#menubar .menu .options hr {
				border-color: #ddd;
			}

			#menubar .menu .options .option .icon {
				color: lightblue;
				text-shadow: 2px 2px 4px #000000;
				padding: 0 10px;
			}

			#menubar .menu .options .option {
				color: #111;
				background-color: transparent;
				padding: 5px 10px 5px 0px;
				margin: 0 !important;
			}

				#menubar .menu .options .option:hover {
					color: #fff;
					background-color: #08f;
				}

				#menubar .menu .options .option:active {
					color: #fff;
					background-color: #08f;
				}

		#menubar .menu .options .inactive {
			color: #bbb;
			background-color: transparent;
			padding: 5px 10px;
			margin: 0 !important;
		}

#sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	border-radius: 6px;
	background-color: #eee;
	overflow: auto;
}

	#sidebar * {
		vertical-align: middle;
	}

	#sidebar .Panel {
		color: #111;
		padding: 10px;
		text-shadow: 1px 1px 2px #888;
	}

	#sidebar .Panel input.Number {
		background-color: #ddd;
	}

	#sidebar .Panel.collapsed {
		margin-bottom: 0;
	}

	#sidebar .Row {
		min-height: 20px;
		margin-bottom: 10px;
	}

#tabs {
	background-color: #ddd;
}

	#tabs .icon {
		color: lightblue;
		margin: 0;
		border: 0;
		padding: 0 0 0 6px;
		text-shadow: 2px 2px 4px #000000;
	}

	#tabs span {
		color: #aaa;
		border-radius: 6px 6px 0 0;
		padding: 8px;
		text-shadow: 0px 0px 0.5px #111;
	}

	#tabs span.selected {
		color: #111;
		text-shadow: 0px 0px 0.5px #111;
		background-color: #eee;
	}

#toolbar {
	position: absolute;
	left: calc(50% - 290px);
	width: 280px;
	bottom: 16px;
	height: 32px;
	background: #eee;
	color: #333;
}

	#toolbar * {
		vertical-align: middle;
	}

	#toolbar .Panel {
		padding: 4px;
		color: #111;
	}

	#toolbar button {
		margin-right: 6px;
		line-height: 14px;
		height: 24px;
	}

/* draggable */

#sunlight,
#sky,
#skydome,
#clouds,
#clouddome,
#snows,
#rain,
#boids,
#curlnoise,
#curlparticles,
#bubbles,
#spritebubbles,
#smoke,
#volumefire,
#fireparticles,
#proctree,
#tufts,
#water,
#ocean,
#ground,
#terrain,
#gpuparticles,
#raymarch
{
	position: absolute;
	/* top: 50%; */
	/* left: 50%; */
	top: calc(50% - 138px);
	left: calc(50% - 100px); /* 90 = width/2 */
	z-index: 1;
	width: 200px;
	border-radius: 6px;
	background-color: rgba(238, 238, 238, 0.5);
	overflow: auto;
}

	#sunlight *,
	#sky *,
	#skydome *,
	#clouds *,
	#clouddome *,
	#snows *,
	#rain *,
	#boids *,
	#curlnoise *,
	#curlparticles *,
	#bubbles *,
	#spritebubbles *,
	#smoke *,
	#volumefire *,
	#fireparticles *,
	#proctree *,
	#tufts *,
	#water *,
	#ocean *,
	#ground *,
	#terrain *,
	#gpuparticles *,
	#raymarch *
	{
		vertical-align: middle;
	}
	
	#sunlight-header,
	#sky-header,
	#skydome-header,
	#clouds-header,
	#clouddome-header,
	#snows-header,
	#rain-header,
	#boids-header,
	#curlnoise-header,
	#curlparticles-header,
	#bubbles-header,
	#spritebubbles-header,
	#smoke-header,
	#volumefire-header,
	#fireparticles-header,
	#proctree-header,
	#tufts-header,
	#water-header,
	#ocean-header,
	#ground-header,
	#terrain-header,
	#gpuparticles-header,
	#raymarch-header
	{
		cursor: move;
		z-index: 1;
		padding: 8px;
		vertical-align: middle;
		text-transform: uppercase;
		text-shadow: 1px 1px 2px #888;
		color: #111;
		background-color: #eee;
	}

		#sunlight-header .icon,
		#sky-header .icon,
		#skydome-header .icon,
		#clouds-header .icon,
		#clouddome-header .icon,
		#snows-header .icon,
		#rain-header .icon,
		#boids-header .icon,
		#curlnoise-header .icon,
		#curlparticles-header .icon,
		#bubbles-header .icon,
		#spritebubbles-header .icon,
		#smoke-header .icon,
		#volumefire-header .icon,
		#fireparticles-header .icon,
		#proctree-header .icon,
		#tufts-header .icon,
		#water-header .icon,
		#ocean-header .icon,
		#ground-header .icon,
		#terrain-header .icon,
		#gpuparticles-header .icon,
		#raymarch-header .icon
		{
			color: lightblue;
			margin: 0;
			border: 0;
			padding: 0 0 0 6px;
			text-shadow: 2px 2px 4px #000000;
		}

			#sunlight-header .close .icon,
			#sky-header .close .icon,
			#skydome-header .close .icon,
			#clouds-header .close .icon,
			#clouddome-header .close .icon,
			#snows-header .close .icon,
			#rain-header .close .icon,
			#boids-header .close .icon,
			#curlnoise-header .close .icon,
			#curlparticles-header .close .icon,
			#bubbles-header .close .icon,
			#spritebubbles-header .close .icon,
			#smoke-header .close .icon,
			#volumefire-header .close .icon,
			#fireparticles-header .close .icon,
			#proctree-header .close .icon,
			#tufts-header .close .icon,
			#water-header .close .icon,
			#ocean-header .close .icon,
			#ground-header .close .icon,
			#terrain-header .close .icon,
			#gpuparticles-header .close .icon,
			#raymarch-header .close .icon
			{
				float: right;
				font-weight: bold;
				padding: 2px 0 0 0;
			}

			#sunlight-header .close:hover .icon,
			#sky-header .close:hover .icon,
			#skydome-header .close:hover .icon,
			#clouds-header .close:hover .icon,
			#clouddome-header .close:hover .icon,
			#snows-header .close:hover .icon,
			#rain-header .close:hover .icon,
			#boids-header .close:hover .icon,
			#curlnoise-header .close:hover .icon,
			#curlparticles-header .close:hover .icon,
			#bubbles-header .close:hover .icon,
			#spritebubbles-header .close:hover .icon,
			#smoke-header .close:hover .icon,
			#volumefire-header .close:hover .icon,
			#fireparticles-header .close:hover .icon,
			#proctree-header .close:hover .icon,
			#tufts-header .close:hover .icon,
			#water-header .close:hover .icon,
			#ocean-header .close:hover .icon,
			#ground-header .close:hover .icon,
			#terrain-header .close:hover .icon,
			#gpuparticles-header .close:hover .icon,
			#raymarch-header .close:hover .icon,
			#sunlight-header .close:focus .icon,
			#sky-header .close:focus .icon,
			#skydome-header .close:focus .icon,
			#clouds-header .close:focus .icon,
			#clouddome-header .close:focus .icon,
			#snows-header .close:focus .icon,
			#rain-header .close:focus .icon,
			#boids-header .close:focus .icon,
			#curlnoise-header .close:focus .icon,
			#curlparticles-header .close:focus .icon,
			#bubbles-header .close:focus .icon,
			#spritebubbles-header .close:focus .icon,
			#smoke-header .close:focus .icon,
			#volumefire-header .close:focus .icon,
			#fireparticles-header .close:focus .icon,
			#proctree-header .close:focus .icon,
			#tufts-header .close:focus .icon,
			#water-header .close:focus .icon,
			#ocean-header .close:focus .icon,
			#ground-header .close:focus .icon,
			#terrain-header .close:focus .icon,
			#gpuparticles-header .close:focus .icon,
			#raymarch-header .close:focus .icon
			{
				color: #000;
				cursor: pointer;
			}

	#sunlight .Panel,
	#sky .Panel,
	#skydome .Panel,
	#clouds .Panel,
	#clouddome .Panel,
	#snows .Panel,
	#rain .Panel,
	#boids .Panel,
	#curlnoise .Panel,
	#curlparticles .Panel,
	#bubbles .Panel,
	#spritebubbles .Panel,
	#smoke .Panel,
	#volumefire .Panel,
	#fireparticles .Panel,
	#proctree .Panel,
	#tufts .Panel,
	#water .Panel,
	#ocean .Panel,
	#ground .Panel,
	#terrain .Panel,
	#gpuparticles .Panel,
	#raymarch .Panel
	{
		color: #111;
		padding: 10px;
		text-shadow: 1px 1px 2px #888;
	}

		#sunlight .Panel input.Number,
		#sky .Panel input.Number,
		#skydome .Panel input.Number,
		#clouds .Panel input.Number,
		#clouddome .Panel input.Number,
		#snows .Panel input.Number,
		#rain .Panel input.Number,
		#boids .Panel input.Number,
		#curlnoise .Panel input.Number,
		#curlparticles .Panel input.Number,
		#bubbles .Panel input.Number,
		#spritebubbles .Panel input.Number,
		#smoke .Panel input.Number,
		#volumefire .Panel input.Number,
		#fireparticles .Panel input.Number,
		#proctree .Panel input.Number,
		#tufts .Panel input.Number,
		#water .Panel input.Number,
		#ocean .Panel input.Number,
		#ground .Panel input.Number,
		#terrain .Panel input.Number,
		#gpuparticles .Panel input.Number,
		#raymarch .Panel input.Number
		{
			background-color: #ddd;
		}

		#sunlight .Panel.collapsed,
		#sky .Panel.collapsed,
		#skydome .Panel.collapsed,
		#clouds .Panel.collapsed,
		#clouddome .Panel.collapsed,
		#snows .Panel.collapsed,
		#rain .Panel.collapsed,
		#boids .Panel.collapsed,
		#curlnoise .Panel.collapsed,
		#curlparticles .Panel.collapsed,
		#bubbles .Panel.collapsed,
		#spritebubbles .Panel.collapsed,
		#smoke .Panel.collapsed,
		#volumefire .Panel.collapsed,
		#fireparticles .Panel.collapsed,
		#proctree .Panel.collapsed,
		#tufts .Panel.collapsed,
		#water .Panel.collapsed,
		#ocean .Panel.collapsed,
		#ground .Panel.collapsed,
		#terrain .Panel.collapsed,
		#gpuparticles .Panel.collapsed,
		#raymarch .Panel.collapsed
		{
			margin-bottom: 0;
		}

		#sunlight .Row,
		#sky .Row,
		#skydome .Row,
		#clouds .Row,
		#clouddome .Row,
		#snows .Row,
		#rain .Row,
		#boids .Row,
		#curlnoise .Row,
		#curlparticles .Row,
		#bubbles .Row,
		#spritebubbles .Row,
		#smoke .Row,
		#volumefire .Row,
		#fireparticles .Row,
		#proctree .Row,
		#tufts .Row,
		#water .Row,
		#ocean .Row,
		#ground .Row,
		#terrain .Row,
		#gpuparticles .Row,
		#raymarch .Row
		{
			min-height: 20px;
			margin-bottom: 10px;
		}

/* for responsive web */

@media all and ( max-width: 600px ) {

	#menubar .menu .options {
		max-height: calc(100% - 100px);
	}

	#menubar .menu.right {
		display: none;
	}

	/* #viewport {
		left: 0;
		right: 0;
		top: 32px;
		height: calc(100% - 352px);
	}

	#script {
		left: 0;
		right: 0;
		top: 32px;
		height: calc(100% - 352px);
	}

	#player {
		left: 0;
		right: 0;
		top: 32px;
		height: calc(100% - 352px);
	} */

	#sidebar {
		left: 0;
		width: 100%;
		top: calc(100% - 320px);
		bottom: 0;
	}

	#toolbar {
		left: calc(50% - 140px);
		width: 280px;
		top: 68px;
	}

	#scenegraph {
		left: 0;
		width: 100%;
	}

}

/* for Shortcuts & About */

@media all and ( max-width: 600px ) {

	.Modal .content {
		width: 100%;
	}

}

@media all and ( max-height: 940px ) {

	.Modal {
		padding-top: 0px;
	}

}